<footer class="footer">
  <div class="footer-body container">
    <!-- Logo -->
    <div class="row footer-logo-row">
      <div class="col-md-12">
        <%= link to: webapp_url(@conn), class: "footer-brand" do %>
          <%= if logo_footer() do %>
            <img class="footer-logo" src="<%= static_path(@conn, logo_footer()) %>" alt="<%= subnetwork_title() %>" />
          <% end %>
          <%= if logo_text() do %>
            <span class="logo-text in-footer <%= unless logo_footer(), do: "no-logo" %>"> <%= logo_text() %> </span>
          <% end %>
        <% end %>
      </div>
    </div>

    <% other_explorers = other_explorers() %>
    <% col_size = if Enum.empty?(other_explorers), do: 3, else: 2 %>

    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <p class="footer-info-text"><%= gettext("Chainsquare is a blockchain project that is developing decentralized application services cryptocurrencies.") %></p>
        <div class="footer-social-icons">
          <a href="#" rel="noreferrer" target="_blank" class="footer-social-icon" title='<%= gettext("Github") %>'>
            <div class="footer-social-icon-container fontawesome-icon github"></div>
          </a>
          <a href="#" rel="noreferrer" target="_blank" class="footer-social-icon" title='<%= gettext("Twitter") %>'>
            <div class="footer-social-icon-container fontawesome-icon twitter"></div>
          </a>
          <a href="https://t.me/+wxWgHBph881lYWFl" rel="noreferrer" target="_blank" class="footer-social-icon" title='<%= gettext("Telegram") %>'>
            <div class="footer-social-icon-container fontawesome-icon telegram"></div>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">
        <h3>Chainsquare</h3>
        <ul>
          <li><a href="#" rel="noreferrer" class="footer-link"><%= gettext("Contribute") %></a></li>
          <li><a href="#" rel="noreferrer" class="footer-link"><%= gettext("Chat Telegram") %></a></li>
          <%= if System.get_env("COIN_NAME") && System.get_env("NETWORK_PATH") && System.get_env("SUBNETWORK") && System.get_env("JSON_RPC") && System.get_env("CHAIN_ID") do %>
            <li><a class="footer-link js-btn-add-chain-to-mm btn-add-chain-to-mm in-footer" style="cursor: pointer;"><%= gettext("Add") <> " #{System.get_env("SUBNETWORK")}" %></a></li>
          <% end %>
        </ul>
      </div>
      <% main_nets = main_nets(other_networks()) %>

      <%= unless Enum.empty?(main_nets) do %>
        <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">
          <h3><%= gettext("Main Networks") %></h3>
          <ul>
            <%= for %{title: title, url: url} <- main_nets do %>
              <li><a href="<%= url %>" rel="norefferer" class="footer-link"> <%= title %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% test_nets = test_nets(other_networks()) %>

      <%= unless Enum.empty?(test_nets) do %>
        <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">
          <h3><%= gettext("Test Networks") %></h3>
          <ul>
            <%= for %{title: title, url: url} <- test_nets do %>
              <li><a href="<%= url %>" rel="noreferrer" class="footer-link"> <%= title %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= unless Enum.empty?(other_explorers) do %>
        <div class="col-xs-12 col-md-4 col-lg-<%= col_size %> footer-list">
          <h3><%= gettext("Other Explorers") %></h3>
          <ul>
            <%= for {name, url} <- other_explorers do %>
              <li><a href="<%= url %>" rel="noreferrer" class="footer-link"> <%= name %> </a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <% version = version() %>

    <%= unless ignore_version?(version) do %>
      <% release_link = release_link(version) %>
      <div>
        <%= gettext("Version") %>: <%= release_link %>
      </div>
    <% end %>
  </div>
</footer>
